<div class="flex min-h-screen bg-slate-900 text-slate-100">
  <!-- Sidebar -->
  <aside class="w-72 bg-slate-950 border-r border-slate-800 p-4">
    <h2 class="text-3xl font-semibold mb-8 flex items-center gap-2">
      <img src="assets/Icons/check_white_icon.svg" class="w-8 h-8" alt="" />
      Plagiatchecker
    </h2>

    <nav class="space-y-2">
      <a
        routerLink="/dashboard"
        routerLinkActive="bg-slate-800"
        class="block px-3 py-2 rounded-lg hover:bg-slate-800 flex items-center gap-4"
      >
        <img src="assets/Icons/window_white_icon.svg" class="w-5 h-5" alt="" />
        Dashboard
      </a>

      <a
        routerLink="/input"
        routerLinkActive="bg-slate-800"
        class="block px-3 py-2 rounded-lg hover:bg-slate-800 flex items-center gap-4"
      >
        <img src="assets/Icons/upload_white_icon.svg" class="w-5 h-5" alt="" />
        Input
      </a>
    </nav>
  </aside>

  <!-- Content -->
  <main class="flex-1 p-6">
    <router-outlet></router-outlet>
  </main>
</div>
